@font-face {
	font-family: 'GothamPro';
	src: url('https://test4.airweb.studio/coca-cola/fonts/GothamPro/GothamPro.eot');
	src: local('☺'), url('https://test4.airweb.studio/coca-cola/fonts/GothamPro/GothamPro.woff') format('woff'), url('https://test4.airweb.studio/coca-cola/fonts/GothamPro/GothamPro.ttf') format('truetype'), url('https://test4.airweb.studio/coca-cola/fonts/GothamPro/GothamPro.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro-Black';
	src: url('https://test4.airweb.studio/coca-cola/fonts/GothamPro/GothamPro-Black.eot');
	src: local('☺'), url('https://test4.airweb.studio/coca-cola/fonts/GothamPro/GothamPro-Black.woff') format('woff'), url('https://test4.airweb.studio/coca-cola./fonts/GothamPro/GothamPro-Black.ttf') format('truetype'), url('https://test4.airweb.studio/coca-cola/fonts/GothamPro/GothamPro-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
  padding: 0 1em;
  font-family:  'GothamPro', sans-serif;
  color: #3d3d3d;
  font-size: 16px;
  overflow-x: hidden;
}

.ui-dialog {
  width: 252px !important;
  transform: translateX(-50%) !important;
  left: 50% !important;
}

.btn-primary:active:focus {
    outline: none;
}

.result {
	margin-left: 0;
}

.upload {
	margin-left: 0;

  h2 {
    display: none;
  }

  .img-thumbnail {
    max-height: auto;
  }

  .receipt-photo {
    margin-top: 10px;
    text-align: center;
    position: relative;

    .btn-danger {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0;
      background-color:  #f40000;
      border-color:  #f40000;
      width: 30px;
      height: 30px;

		&:hover {
			background-color: #cc2b1d;
			border-color: #cc2b1d;
		}

      	&:before,
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			height: 2px;
			background-color: #ffffff;
			transform: translateY(-50%) rotate(45deg);
		}

		&:after {
			transform: translateY(-50%) rotate(-45deg);
		}
    }
  }

  .choose-file {
    display: inline-block;
    text-align: center;
    font-family: 'GothamPro-Black', sans-serif;
    font-size: 16px;
    color: #f40000;
	max-width: 280px;
	width: 100%;
    padding: 15px;
	border: 1px solid #f40000;
	border-radius: 25px;
    background-color: #ffffff;

    input {
      display: none
	}

	&:active:hover {
		background-color: #ffffff;
		color: #cc2b1d;
		border: 1px solid #cc2b1d;
	}	
	
	&:hover {
		color: #cc2b1d;
		border: 1px solid #cc2b1d;
	}
  }

  .upload-main,
  .upload-sample {
	  padding: 0 !important;
  }



  #upload {
    display: inline-block;
    text-align: left;
    transition: all .2s linear;
    background-color: #f40000;
    border-radius: 25px;
    color: #ffffff;
    font-size: 16px;
	max-width: 280px;
	width: 100%;
    padding: 15px;
    border: none;
    margin-top: 10px !important;
	margin-bottom: 20px;
	position: relative;
	outline: none;

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		right: 15px;
		width: 10px;
		height: 10px;
		transform: translateY(-50%) rotate(-45deg);
		border: {
			bottom: 2px solid #ffffff;
			right: 2px solid #ffffff;
		}
	}

    &:hover {
      background-color: #cc2b1d;
    }
  }
}

.block {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  box-sizing: content-box;
  padding-right: 10%;
  max-width: 280px;
  width: 100%;
}

.tutorial {

  h1 {
    display: none;
  }

  .simple-photo-block {
    text-align: center;

    img {
      max-height: auto;
    }
  }

  .btn {
    display: inline-block;
    text-align: left;
    transition: all .2s linear;
    background-color: #f40000;
    border-radius: 25px;
    color: #ffffff;
    font-size: 16px;
	max-width: 280px;
	width: 100%;
    padding: 15px 30px;
    border: none;
    margin-top: 30px !important;
	margin-bottom: 20px;
	position: relative;

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		right: 30px;
		width: 10px;
		height: 10px;
		transform: translateY(-50%) rotate(-45deg);
		border: {
			bottom: 2px solid #ffffff;
			right: 2px solid #ffffff;
		}
	}

    &:hover {
      background-color: #cc2b1d;
    }
  }
}

footer {
  display: none;
}